<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello Decode Green Pass !</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      {{ greeting }}
    </h1>
    <h2>
      Introduction
    </h2>
    <p>
      Please refer to README.md for API usage but you can hit this URL below to have an overview
    </p>
    <h2>
      Your first Green Pass
    </h2>
    <p>

    
      <img src="https://cdn.glitch.com/3a3f6b9d-833e-4623-8db8-707068c2693f%2Fgreenpass.png?v=1628795323743"></img>
    </p>
    <p>
      The image above will be decoded is the following if you click on the link below:
    </p>
    <p>
      <a href="./readQrFromUrl?sessionId=1&url=https:/gir.st/blog/img/greenpass-demo.png&dataNeeded=all">
        Your First Decode Green Pass with Url encoded
      </a>
    </p>
    
    <h2>
      Use form below to upload your "own" greenpass 
    </h2>

    <form action="/decode" method="post" enctype="multipart/form-data">
        Select image to upload:
        <label for="file">Upload a QR code</label> </br>
        <input type="file" name="greenpasscode" id="fileToUpload"><br>
        <input type="radio" name="dataNeeded" value="raw" checked> raw
        <input type="radio" name="dataNeeded" value="all"> all<br>
        <input type="number" name="sessionId" id="id" min="1"> id <br>
        <input type="submit" value="Upload Image" name="submit">
    </form>
        
  </body>
</html>
